# Matthew : Files Ignored
/LocalFiles
/backend/.env
/backend/Inventory/__pycache__
/backend/Inventory/itemClass.py
/backend/Inventory/test.py

# Feel free to include your own ignore files below

# Bre : Sorry got alot of extra files

**/__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class
/messageBroker/tutorial(delete later)/
/messageBroker/runAllServices.sh
/esdvenv/
*.local
*.env.local
