# Matthew : Files Ignored
/LocalFiles
/InventoryDatabase/.env
/InventoryDatabase/__pycache__
/InventoryDatabase/itemClass.py
/InventoryDatabase/test.py

# Feel free to include your own ignore files below

# Bre : Sorry got alot of extra files

**/__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class
/messageBroker/tutorial(delete later)/
/messageBroker/runAllServices.sh
/esdvenv/
*.local
*.env.local
